body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
  font-family: Arial, sans-serif;
}

.calculator {
  max-width: 320px;
  margin: auto;
  padding: 20px;
  border: 2px solid #dcdcdc; 
  border-radius: 10px;
  background-color: #ffffff; 
}

.display {
  width: 100%;
  height: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 2px solid #cccccc; 
  border-radius: 10px;
  background-color: #ffffff; 
  color: #000000; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  border-radius: 10px;
}

td {
  border: 2px solid #dcdcdc; 
  padding: 0;
  border-radius: 5px;
}

.btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  border: 1px solid #dcdcdc; 
  background-color: #f0f0f0; 
  color: #000000; 
  border-radius: 5px;
}

.history {
  color: #000000; 
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #dcdcdc; 
  background-color: #ffffff; 
  max-height: 100px;
  overflow-y: auto;
  font-size: 20px;
  border-radius: 5px;
}

.history div {
  margin-bottom: 5px;
}

.btn:active {
  background-color: #e0e0e0; 
}

.btn-danger {
  background-color: #ff4d4d; 
  color: #ffffff; 
}

.btn-danger:active {
  background-color: #ff1a1a; 
}

.btn-success {
  background-color: #4caf50; 
  color: #ffffff; 
}

.btn-success:active {
  background-color: #388e3c; 
}

.btn-warning {
  background-color: #ffeb3b; 
  color: #000000; 
}

.btn-warning:active {
  background-color: #fdd835; 
}

.buttons {
  max-width: 320px;
  margin: 10px auto;
}
